// MOBILEEEEEEEEEEEEEEEEEEEE
@media only screen and (max-width: 1903px){
    #serviciosHome div div .contenedor-items-servicios-color .contenedor-item-servicios {

        height: 390px;
    }

   

    #testimonios div {
      
        margin: 24px 0px;
    }


}

@media only screen and (max-width: 1296px){
.seccion-muestra-tabajo .titulo-muestra-trabajo {
   
    right: 758px;
}
}



@media only screen and (max-width: 1200px){
    #serviciosHome section #subtituloServicios {
        position: absolute;
        left: 10em;
    }

    .seccion-muestra-tabajo .titulo-muestra-trabajo {
        
        right: 787px ;
      
    }

    .texto-1 {
        font-size: 3rem;
    }

    .seccion-muestra-tabajo .titulo-muestra-trabajo .bg-titulo-muestra {
    
        width: 309px;
        height: 80px;
    }

    .seccion-muestra-tabajo .contenedor-carrusel-muestras-trabajo {
       
        right: 43px;
        top: 16px;
        width: 905px;
        height: 450px;
    }

  
  
}


@media only screen and (max-width: 1168px){
    .seccion-packs-servicios .contenedor-all-items-packs {
        
        width: 100%;
    }

    .hover-packs-servicios:hover .contenedor-all-items-packs .contenedor-item-packs .info-desplegable .boton-desplegable {
        margin-left: 0px;
    }

    .seccion-muestra-tabajo .contenedor-carrusel-muestras-trabajo {
       
        right: 43px;
        top: 16px;
        width: 840px;
        height: 450px;
    }
}

@media only screen and (max-width: 1100px){

    .seccion-muestra-tabajo .titulo-muestra-trabajo .bg-titulo-muestra {
        width: 301px;
        height: 74px;
    }

    .contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio {
        width: 50%;
    }

    .contenedor-encabezado-servicio {
      
        width: 100%;
    }

    .hover-packs-servicios:hover .contenedor-all-items-packs .contenedor-item-packs .info-desplegable {
        width: 16em;
    }

    .seccion-packs-servicios .contenedor-all-items-packs {
        
        width: 100%;
    }

    .seccion-packs-servicios .contenedor-all-items-packs img {
        width: 16em;
    }

    .seccion-muestra-tabajo .titulo-muestra-trabajo {
        
        right: 732px;
    }


    #ubicacion {
        width: 100%;
    }

    .contenedor-carrusel {
        margin: 0%;
        width: 100%;
    }

    .botonWhatsApp {
        position: fixed;
        bottom: 20px;
        right: 176px;
    }

    .imgSlide {
        height: 530px;
        width: 100%;
    }

    .hover-packs-servicios:hover .contenedor-all-items-packs .contenedor-item-packs .info-desplegable .boton-desplegable {
       
        margin-left: 44px;
    }

    .hover-packs-servicios:hover {
      
        height: 100%;
    }

}

@media only screen and (max-width: 1024px){

    .seccion-muestra-tabajo .contenedor-carrusel-muestras-trabajo {
        right: 26px;
        top: 16px;
        width: 686px;
        height: 450px;
    }
  

    .contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio {
        width: 50%
    }

  

    .seccion-muestra-tabajo .titulo-muestra-trabajo {
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 588px;
        top: 129px;
    }




    .contenedor-encabezado-servicio {
        margin: 20px auto;
        width: 100%;
    }

    .seccion-packs-servicios .contenedor-all-items-packs {
        display: flex;
      
        width: 100%;
        margin: 0px 0px;
    }

    .hover-packs-servicios:hover .contenedor-all-items-packs .contenedor-item-packs .info-desplegable {
        
        padding: 0px 0px;
    }

    .hover-packs-servicios:hover {
        height: 100%;
        padding-bottom: 3%;
    }

    #testimonios .posicion-ramas-1 {
        position: absolute;
        top: -125px;
    }

    .seccion-packs-servicios .contenedor-all-items-packs img {
        width: 16em;
    }
}

@media only screen and (max-width: 962px){

    .texto-1 {
        font-size: 2rem;
    }

    .seccion-muestra-tabajo .titulo-muestra-trabajo .bg-titulo-muestra {
        width: 212px;
        height: 59px;
    }

    .seccion-muestra-tabajo .titulo-muestra-trabajo {
        right: 634px;
    }
   
 
    #testimonios div div .position {
        margin: 20px;
        width: 23em;
    }

    .centrado {
        width: 100%;
    }

   
    .seccion-packs-servicios .contenedor-all-items-packs img 
    {
        width: 16em;
    }


        
    
}

@media only screen and (max-width: 860px){

    .seccion-muestra-tabajo .titulo-muestra-trabajo {
        right: 534px;
    }

    .seccion-muestra-tabajo .contenedor-carrusel-muestras-trabajo {
        right: 0px;
        top: 16px;
        width: 613px;
        height: 485px;
    }
}

@media only screen and (max-width: 768px){

    .seccion-muestra-tabajo .titulo-muestra-trabajo {
        right: 537px;
    }




    .contenedor-encabezado-servicio {
        
        background-size: cover;
    }

    .seccion-packs-servicios {
       
        margin-top: 0px;
    }

    .hover-packs-servicios:hover .contenedor-all-items-packs .contenedor-item-packs .info-desplegable {
        padding: 0px 0px;
        width: 95%;
    }

    .hover-packs-servicios:hover .contenedor-all-items-packs .contenedor-item-packs .info-desplegable .boton-desplegable {
     
        margin-left: 0px;
    }


    header nav div div ul li {
       width: 100%;
    }

    .seccion-packs-servicios .contenedor-all-items-packs img {
        width: 15em;
    }

    .seccion-packs-servicios .contenedor-all-items-packs .contenedor-item-packs .contenedor-titulos-packs .titulo-item-pack {
       
        padding-left: 0px;
    }

    .tamaño-seccion-diseño {
        height: 100%;
    }

    .texto-2 {
        font-size: 2rem;
    }

    .contenedor-encabezado-servicio {
      
        height: 287px;
    }

    #testimonios .posicion-ramas-1 {
        position: absolute;
        top: -46px;
    }

    .botonWhatsApp {
        position: fixed;
        bottom: 20px;
        right: 23px;
    }

    #serviciosHome div div .contenedor-items-servicios-color .titulo-item-servicios {
        position: absolute;
        top: 51px;
        left: 59px;
    }

    #testimonios .posicion-ramas-1 {        
        width: 9em;
    }

    #testimonios .posicion-ramas-2 {
        width: 9em;    
    }
    

    #testimonios div div .position {
        margin: 20px;
        width: 20em;
    }

   

    #marcasHome div div .position {
        margin: 5%;
        width: 77%;
    }
    .contacto .img-ramas-contacto-1 {      
        width: 19%;
    }

    .contacto .img-ramas-contacto-2 {
        width: 19%;
        top: 358px;
    }
}

@media only screen and (max-width: 767px){

    .seccion-muestra-tabajo .titulo-muestra-trabajo {
        top: 11px;
        right: 146px;
        height: 71px;
    }
    .seccion-muestra-tabajo .contenedor-carrusel-muestras-trabajo {
        right: 82px;
        top: 93px;
    }

    .seccion-muestra-tabajo .titulo-muestra-trabajo .bg-titulo-muestra {
        margin: 2px;
    }


    .centrado {
        width: 100%;
        height: 281px;
        margin-bottom: 6%;
        padding-bottom: 4%;
        background-size: cover;
    }
        
    

    .contenedor-p-info-quiensoy {
        display: none;
    }

    .mobile{
        display: block; ///este es el texto. solo deje los titulos sobre las imagenes de portadas
    
        p{
            color: #666;
            margin: 7%;
           
            font-size: 1.2rem;
            font-family: 'Zen Kaku Gothic New', sans-serif;
        }
    }

    .contenedor-p-info-quiensoy {
        width: 100%;
    }
}

@media only screen and (max-width: 762px){

    .seccion-muestra-tabajo .contenedor-carrusel-muestras-trabajo {
        right: 53px;
        top: 83px;
        width: 528px;
        height: 485px;
    }
  

    #serviciosHome {
        margin-top: 0em;

        #serviciosTitulo{
            display: none;
        }
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;

            div{
                width: 86%;
                margin: 3% 7%;
            }

            
        }
    }

    #serviciosHome div div .contenedor-items-servicios-color .contenedor-item-servicios {
        padding: 0px 10% 0px 10%;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        height: 338px;
    }

    #serviciosHome div div .contenedor-items-servicios-color .titulo-item-servicios {
        position: absolute;
        top: 70px;
        left: 54px;
    }

    #testimonios {
        margin: 4em 0em;
        #subtituloServicios {
            margin: 0px 108px;
           
        }

        div {
            display: flex;
            flex-direction: column;

            div{
                .position {
                    margin: auto;
                    width: 60%;

                    p {
        
                        padding: 0em 1em;
                    }
                }
            }
            
        }
    }


    .texto-1 {
        font-size: 2rem;
    }

    .contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio .contenedor-titulo-servicio .titulo-servicio-color {
     
        padding-left: 23px;
    }


   
    .presupuestoHome  {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 12em 1em;

      
        .boton-solicitar {
                margin: 24px;      
        }
    }
 
    .seccion-packs-servicios .contenedor-all-items-packs img {
        width: 13em;
    }

    .hover-packs-servicios:hover .contenedor-all-items-packs .contenedor-item-packs .info-desplegable {
        padding: 0px 0px;
        width: 83%;
    }

    #marcasHome{
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 600px){

    .contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio .contenedor-descripcion-servicio {
      
        padding: 0% 6%;
    }

    .seccion-packs-servicios .contenedor-all-items-packs img {
        width: 10em;
    }

    .seccion-muestra-tabajo .contenedor-carrusel-muestras-trabajo {
        right: 14px;
        top: 83px;
        width: 458px;
        height: 490px;
    }

    .seccion-muestra-tabajo .titulo-muestra-trabajo {
        top: 28px;
        right: 146px;
        height: 71px;
    }

    
}


@media only screen and (max-width: 480px){

    .seccion-packs-servicios .contenedor-all-items-packs .contenedor-item-packs .contenedor-titulos-packs {
   
        left: 20px;
    }

    .seccion-muestra-tabajo .contenedor-carrusel-muestras-trabajo {
        right: 27px;
        top: 23px;
        width: 424px;
        height: 519px;
    }

    #serviciosHome div div {
        width: 95%;
    }

    #serviciosHome .servicios-titulo {
        
        width: 100%;
    }

    #serviciosHome div div {
        
        margin: 2%;
    }


    .contacto .contenedor-item-contacto {
     
        margin: 29px 25px;
    }
    .hover-packs-servicios:hover .contenedor-all-items-packs .contenedor-item-packs .info-desplegable {
        padding: 23px 13px;
        width: 100%;
    }

    .hover-packs-servicios:hover {
        height: 100%;
    }

    .seccion-packs-servicios .contenedor-all-items-packs img {
        width: 30em;
        height: 291px;
    }

    .seccion-packs-servicios {     
        margin-top: -14px;
    }

 

    .seccion-muestra-tabajo .titulo-muestra-trabajo {
        top: 3px;
        right: 131px;
        height: 64px;
    }

    .seccion-muestra-tabajo .titulo-muestra-trabajo .bg-titulo-muestra {
        width: 211px;
        height: 38px;
    }

  

    .redesMobile {
        height: 49px;
    }

    .iconosRedes {
        
        padding: 0px 211px;
    }



    

    footer section div {
      width: 100%;
        justify-content: center;
    }

    header nav div div ul li {
        margin: 5px 26px;
    }

    header nav div div ul  {
        width: 100%;
    }

  

    #testimonios .posicion-ramas-1 {
        position: absolute;
        top: -108px;
        right: -10px;
        z-index: 0;
        width: 13em;
    }

    #testimonios .posicion-ramas-2 {
        width: 13em;
    }


    .contenedor-carrusel {
       width: 100%;
       margin-bottom: 8%;
    }

    
  

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
        font-family: 'Balivia';
    }

    .imgSlide {
        // height: 268px;
        // width: 401px;

        height: 256px;
        width: 100%;
    }
   
 
    /////////////////////////////

    .florMobile {
        
        height: 7em;        
    }

    ///////////////////
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;

        section {
          
            width: 100%;
            margin: 2%;

            div {
                width: 100%;
                p {
        
                    font-size: 19px;
                    margin: 11px 33px;
                  
                }
                
            }
        }
    }

    footer section nav ol li a {
        display: none;}

    .breadcrumb-item+.breadcrumb-item::before {
        display: none;}

    .iconosRedes {
        width: 412px;
        padding: 0px 125px;
        display: flex;
        flex-direction: row;
        div{
            width: 340px;
        }
    }
 
    ///////oculto el donde estoy

    #ubicacion{
        width: 100%;
    
    }

    //////////main de quiensoyPag, diseño grafico pag y community pag

    .ajuste-titulo-quiensoy {
        width: 100%;
    }

  

    main{
        position: relative;
        img{
            width: 412px;
            height: 230px;
        }
        section{
            position: absolute;
            top: 1em;
            left: 1em;
            p{
                display: none; //aca saque los textos de las portadas
            }
        }
    }

   

    .centrado {
        width: 100%;
        height: 26em;
        margin: 0px auto 0px auto;
    }

    //////Pag servivios- bloque diseñograficoYcomunity
 
    #diseñoGraficoyCommunity{
        height: 56em;  ///ACA//
        margin-top: 5em;   
        background-color: #F2979A;;
        #subtituloServicios{       
            text-align: center;                  
            color: #edeee0;
        }    
    
        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            div{
                margin: 0px 37px;
                display: flex;
                flex-direction: column; //ACA//
                justify-content: center;
    
                .position {
    
                    position: relative;
                    margin: 0px 14px;//ACAAAAAAAAAAAAA//              
                    width: 21em;
                    
    
                    img {
                        height: 225px;
                        width: 323px;
                        margin-top: 26px;
                    }
    
                    .subtitulosServicios{
           
                        position: absolute;            
                        left: 0em;
                        top: 1em;
                        text-align: center;   
                        color: #71978B;;
                        background-color: #edeee0;
                    }
                }         
               
    
            }
        }    
        
        section{
            div{
                .botonPresupuesto {
                    text-decoration: none;
                    width: 207px !important;
                    height: 38px !important;
                    color: #71978B !important;
                    border: 1px solid #71978B !important;
                    border-radius: 5px;
                    margin: 15px 78px;
                    padding: 4px
                }
            }
        }   
        
    }

    .subtitulosContactos {
        margin: 2em 2em;
        padding-top: 48px;
    }

 
    .seccion-muestra-tabajo .ramas-claras-sec-trabajo img {
        width: 7em;
        height: 5em;
    }

    .seccion-muestra-tabajo {
      
        height: 383px;
    }

    .contenedor-mis-servicios .contenedor-de-servicios {
        display: flex;
        flex-direction: column;
    }

    .contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio {
        width: 90%;
    }

    .contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio .contenedor-titulo-servicio .titulo-servicio-color {
     
        padding-left: 21px;
    }

    .footerMarginxFlor{
        margin-top: 6em;
    }

    .contacto .img-ramas-contacto-2 {
      
        top: 500px;
        width: 37%;
       
    }

    .contacto .img-ramas-contacto-1 {
     
        bottom: -41px;
       
        width: 37%;
    }

    .contacto .contenedor-item-contacto .subtitulo-contacto {
      
        padding-bottom: 54px;
    }

    .contenedor-encabezado-servicio {
       
        width: 100%;
    }

    .contenedor-encabezado-servicio .contenedor-texto-servicio {
        width: 100%;
    }
    .contenedor-encabezado-servicio {
       
        background-repeat: repeat;
    }

    .seccion-packs-servicios .contenedor-all-items-packs {
        display: flex;
        flex-direction: column;
        margin-bottom: 2%;
        width: 100%;
    }
    .tamaño-seccion-diseño {
        height: 100%;
    }

    .seccion-packs-servicios {
      
        height: 100%;
    }

    .seccion-packs-servicios .contenedor-all-items-packs .contenedor-item-packs {
        
        margin-bottom: 2%;
    }

    .marcasnone {
      display: none;
    }

    .testimonialnone{
        display:none
    }

    .presupuestonone{
        display: none;
    }

    .footernone{
        display: none;
    }

    .botonWhatsApp {
        display: none;
    }

    .iconosRedes {
        width: 100%;
    }

    .contenedor-encabezado-servicio .contenedor-texto-servicio {
        width: 84%;
    }

    .seccion-packs-servicios .contenedor-all-items-packs img {
        width: 100%;
    }

}

@media only screen and (max-width: 448px){

    .seccion-muestra-tabajo .contenedor-carrusel-muestras-trabajo {
        right: 12px;
    }

    #serviciosHome div div {
        width: 100%;
    }

    #serviciosHome div div {
        margin: 1% 0%;
    }

    #serviciosHome .servicios-titulo {
      
        width: 100%;
    }

    #serviciosHome div div .contenedor-items-servicios-color .titulo-item-servicios {
        width: 50%;
    }

    #testimonios div div .position .texto-testimonios p {
        padding: 1em 0em;
    }
}

@media only screen and (max-width: 428px){

    .seccion-muestra-tabajo .contenedor-carrusel-muestras-trabajo {
        right: 2px;
    }
    .seccion-muestra-tabajo .titulo-muestra-trabajo {
        
        right: 135px;
        
    }

    footer section  {
        width: 100%;
        justify-content: center;
    }

    .breadcrumb {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    footer div p {
   
        width: 100%;
    }
}


@media only screen and (max-width: 412px) {

    #testimonios div div .position {
        margin: auto;
        width: 77%;
    }

    .iconosRedes {
        
        padding: 0px 163px;
    }

    .redesMobile {
        height: 38px;
    }

    .iconosRedes div {
        margin: 0px 6px;
    }

    footer div p {
      
        color: white;
    }
  
    footer {
        
        background: rgb(97,124,114);
        background: linear-gradient(131deg, rgba(97,124,114,1) 0%, rgba(88,113,104,1) 49%, rgba(49,70,62,1) 100%);
        margin: 0px auto 0rem auto;
    }

    header nav div div ul li {
        margin: 5px -1px;
    }

    .imgSlide {
        height: 212px;
        width: 100%;
    }

    .seccion-packs-servicios .contenedor-all-items-packs img {
        width: 100%;
    }

    #testimonios .posicion-ramas-1 {
      
        top: -141px;
    }


    .contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio .contenedor-descripcion-servicio .contenedor-texto-servicio {
        height: 158px;
    }
   



    .texto-3 {
       
        margin-right: 5px;
    }

  

   #marcasHome div div .position{
       margin: 19px 51px;
   }

   .centrado {
       width: 100%;
       height: 16em;
   }       

   .texto-1 {
    font-size: 2rem;
    }

    .seccion-muestra-tabajo .titulo-muestra-trabajo .bg-titulo-muestra {
        width: 207px;
        margin: 1px;
    }

    .seccion-muestra-tabajo .titulo-muestra-trabajo {
        top: 9px;
        right: 83px;
    }

    .seccion-muestra-tabajo .contenedor-carrusel-muestras-trabajo {
        right: 0px;
    }

}




   



@media only screen and (max-width: 360px){

    #serviciosHome .servicios-titulo {
        width: 95%;
    }

    .seccion-muestra-tabajo .titulo-muestra-trabajo {
        top: 20px;
        right: 33px;
    }

    .contenedor-info-quiensoy {
        width: 93%;
    }

    .redesMobile {
        height: 38px;
    }

    .iconosRedes div {
        margin: 0px 8px;
    }

    .seccion-packs-servicios .contenedor-all-items-packs .contenedor-item-packs .contenedor-titulos-packs {
    
        left: 36px;
    }

    .w-100 {
        width: 100% !important;
        height: 201px;
    }

    header nav div div ul li {
        margin: 5px 2px;
    }

    
    .seccion-muestra-tabajo .contenedor-carrusel-muestras-trabajo {
        right: -83px;
    }

    .seccion-muestra-tabajo .contenedor-carrusel-muestras-trabajo {
        right: 0px;
        
        width: 359px;
        height: 519px;
    }
    .texto-1 {
        font-size: 2rem;
    }

    .texto-2 {
        font-size: 31px;
    }
    .seccion-muestra-tabajo .titulo-muestra-trabajo .bg-titulo-muestra {
        width: 206px;
    }

    #testimonios .posicion-ramas-1 {
        top: -74px;    
        width: 35%;

        right: 2px;
    }

    #testimonios .posicion-ramas-2 {
        width: 35%;
    }

    .carousel.pointer-event {
        width: 100%;
    }


  

    #serviciosHome div div .position {    
    
        margin: 13px;
    }

    main{
        position: relative;
        img{
            width: 360px;
            height: 230px;
        }
    }


    footer section {        


        

        div{
            p{
                margin: 11px 0px;
            }
        }
    }

    

    #marcasHome div div .position {
        margin: 13px 36px;   
    }

    #diseñoGraficoyCommunity div div .position {       
        margin: 0px -17px;
    }

    #contacto div {
        width: 360px;
        margin: 3em 0em;
    }

    .subtitulosContactos {
        margin: 2em 1em;
        padding-top: 48px;
    }

    .footerMarginxFlor{
        margin-top: 6em;
    }
 
    #serviciosHome div div .contenedor-items-servicios-color {
        width: 22em;
        margin: auto;
    }

    .contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio {
       
        height: 603px;
    }

    #serviciosHome div div .contenedor-items-servicios-color .titulo-item-servicios {
      
        left: 41px;
    }

    .presupuestoHome {
    
        margin: 12em 0em;
    }

    #ubicacion .subtitulosContactos {
       
        width: 345px;
    }

   

  

    .contacto .img-ramas-contacto-2 {
        top: 291px;
    }

   
}


@media only screen and (max-width: 320px){

    .contacto .img-ramas-contacto-2 {
        top: 333px;
    }

    #testimonios .posicion-ramas-1 {
        top: -99px;
    }

    .seccion-packs-servicios .contenedor-all-items-packs img {
        width: 100%;
    }

    .contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio .contenedor-descripcion-servicio .contenedor-texto-servicio {
        height: 190px;
    }

    .seccion-muestra-tabajo .titulo-muestra-trabajo {
        top: 26px;
        right: 2px;
        height: 71px;
    }

    .texto-2 {
        font-size: 31px;
    }

    .centrado {
       
        height: 18em;
    }

    .redesMobile {
        height: 51px;
    }


    #serviciosHome .servicios-titulo {
    
        width: 100%;
    }

    #marcasHome div div .position img {
        height: 198px;
        width: 254px;
    }

    #marcasHome div div .position {
        width: 16em;
    }

    #testimonios .posicion-ramas-1 {
        
        width: 10em;
    }

    #testimonios .posicion-ramas-2 {
        width: 10em;
    }

    .iconosRedes {
        width: 100%;
    }

    // main img {
    //     width: 282px;
    // }

    main img {
        width: 100%;
    }

    .seccion-packs-servicios .contenedor-all-items-packs {
  
        width: 100%;
    }

    .contenedor-encabezado-servicio .contenedor-texto-servicio {
        width: 91%;
    }

    #ubicacion .subtitulosContactos {
        width: 314px;
    }













}

